// FOOTER
footer#footer
    .container
        .row
            // col #1
            .logo_footer.col-md-8
                img.logo(alt='', src='assets/images/logo_footer_alt.png', height='80')
                p.block
                    strong
                        em Why Choose Us?
                    |                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet hendrerit volutpat. Sed in nunc nec ligula consectetur mollis in vel justo. Vestibulum ante ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet hendrerit volutpat. Sed in nunc nec ligula consectetur mollis in vel justo. Vestibulum ante ipsum.
                    a(href='page-about-basic.html')
                        | View More
                        i.fa.fa-arrow-right
                h2 (800) 123-4567
            // /col #1
            // col #2
            .spaced.col-md-4
                h4
                    | About
                    strong Us
                p
                    | Incredibly beautiful responsive Bootstrap Template for Corporate and Creative Professionals.
                h4
                    small
                        strong Subscribe to our Newsletter
                form#newsletterSubscribe.input-group(method='post', action='php/newsletter.php')
                    input#newsletter_email.form-control(required='', type='email', name='newsletter_email', value='', placeholder='E-mail Address')
                    span.input-group-btn
                        button.btn.btn-primary SUBMIT
            // /col #2
    hr
    .copyright
        .container.text-center.fsize12
            | Epona theme by
            a.copyright(href='http://www.stepofweb.com', target='_blank', title='bootstrap themes & templates') stepofweb
            |  • All Right Reserved © Your Company LLC.
            a.fsize11(href='page-privacy.html') Privacy Policy
            |  •
            a.fsize11(href='page-terms.html') Terms of Service
// /FOOTER
a#toTop(href='#')
