// REVOLUTION SLIDER
.slider.fullwidthbanner-container.roundedcorners
  .fullwidthbanner
    ul.hide
      // SLIDE
      li(data-transition='fade', data-slotamount='7', data-masterspeed='300', data-saveperformance='off')
        img(src='assets/images/1x1.png', data-lazyload='assets/images/demo/flickr_37.jpg', alt='', data-bgfit='cover', data-bgposition='center top', data-bgrepeat='no-repeat')
        .tp-caption.block_medium.color-white.lfb.tp-resizeme(data-x='left', data-hoffset='70', data-y='133', data-speed='1000', data-start='1400', data-easing='easeOutExpo', data-splitin='none', data-splitout='none', data-elementdelay='0.1', data-endelementdelay='0.1', data-endspeed='300')
          | INTERNATIONALE BERATUNG
        .tp-caption.block_black.sfl.tp-resizeme(data-x='70', data-y='216', data-speed='750', data-start='1900', data-easing='easeOutExpo', data-splitin='none', data-splitout='none', data-elementdelay='0.1', data-endelementdelay='0.1', data-endspeed='300')
          | internationale Unternehmensberatung
        .tp-caption.block_black.sfr.tp-resizeme(data-x='70', data-y='260', data-speed='750', data-start='2200', data-easing='easeOutExpo', data-splitin='none', data-splitout='none', data-elementdelay='0.1', data-endelementdelay='0.1', data-endspeed='300')
          | internationale Expansion
        .tp-caption.block_black.sfr.tp-resizeme(data-x='70', data-y='304', data-speed='750', data-start='2400', data-easing='easeOutExpo', data-splitin='none', data-splitout='none', data-elementdelay='0.1', data-endelementdelay='0.1', data-endspeed='300')
          | internationale Personalplanung und -beschaffung
        .tp-caption.block_black.sfr.tp-resizeme(data-x='70', data-y='348', data-speed='750', data-start='2600', data-easing='easeOutExpo', data-splitin='none', data-splitout='none', data-elementdelay='0.1', data-endelementdelay='0.1', data-endspeed='300')
          | interkulturelles Coaching
      // SLIDE
      li(data-transition='fade', data-slotamount='7', data-masterspeed='300', data-saveperformance='off')
        img(src='assets/images/1x1.png', data-lazyload='assets/images/medical/1510_QURACTIV-Pack-Shot-Frontal-Desktop.jpg', alt='', data-bgfit='cover', data-bgposition='center top', data-bgrepeat='no-repeat')
        .tp-caption.block_medium.color-white.lfb.tp-resizeme(data-x='left', data-y='80', data-speed='1000', data-start='500', data-easing='easeOutExpo', data-splitin='none', data-splitout='none', data-elementdelay='0.1', data-endelementdelay='0.1', data-endspeed='300')
          | MEDICAL
        .tp-caption.block_black.lfb.tp-resizeme(data-x='left', data-y='150', data-speed='1000', data-start='1200', data-easing='easeOutExpo', data-splitin='none', data-splitout='none', data-elementdelay='0.1', data-endelementdelay='0.1', data-endspeed='300')
          | Quractiv&reg Derm
         .tp-caption.block_black.lfb.tp-resizeme(data-x='left', data-y='200', data-speed='1000', data-start='1200', data-easing='easeOutExpo', data-splitin='none', data-splitout='none', data-elementdelay='0.1', data-endelementdelay='0.1', data-endspeed='300')
          | Von der chronischen Wunde bis zur sekundären
         .tp-caption.block_black.lfb.tp-resizeme(data-x='left', data-y='250', data-speed='1000', data-start='1200', data-easing='easeOutExpo', data-splitin='none', data-splitout='none', data-elementdelay='0.1', data-endelementdelay='0.1', data-endspeed='300')
          | Wundheilungsstörung - erleben Sie Wundheilung.
        .tp-caption.lfb.tp-resizeme(data-x='center', data-y='300', data-speed='1200', data-start='2000', data-easing='easeOutExpo', data-splitin='none', data-splitout='none', data-elementdelay='0.1', data-endelementdelay='0.1', data-endspeed='300')

      // SLIDE
      li(data-transition='fade', data-slotamount='7', data-masterspeed='300', data-saveperformance='off')
        img(src='assets/images/1x1.png', data-lazyload='assets/images/demo/personal.jpg', alt='', data-bgfit='cover', data-bgposition='center top', data-bgrepeat='no-repeat')
        .tp-caption.block_medium.color-white.lfb.tp-resizeme(data-x='left', data-y='80', data-speed='1000', data-start='500', data-easing='easeOutExpo', data-splitin='none', data-splitout='none', data-elementdelay='0.1', data-endelementdelay='0.1', data-endspeed='300')
          | PERSONAL & RECRUITMENT
        .tp-caption.block_black.lfb.tp-resizeme(data-x='left', data-y='150', data-speed='1000', data-start='1200', data-easing='easeOutExpo', data-splitin='none', data-splitout='none', data-elementdelay='0.1', data-endelementdelay='0.1', data-endspeed='300')
          | Entscheidend ist nicht der Job
         .tp-caption.block_black.lfb.tp-resizeme(data-x='left', data-y='200', data-speed='1000', data-start='1200', data-easing='easeOutExpo', data-splitin='none', data-splitout='none', data-elementdelay='0.1', data-endelementdelay='0.1', data-endspeed='300')
          | sondern der Mitarbeiter,
         .tp-caption.block_black.lfb.tp-resizeme(data-x='left', data-y='250', data-speed='1000', data-start='1200', data-easing='easeOutExpo', data-splitin='none', data-splitout='none', data-elementdelay='0.1', data-endelementdelay='0.1', data-endspeed='300')
          | der ihn ausübt.
        .tp-caption.lfb.tp-resizeme(data-x='center', data-y='300', data-speed='1200', data-start='2000', data-easing='easeOutExpo', data-splitin='none', data-splitout='none', data-elementdelay='0.1', data-endelementdelay='0.1', data-endspeed='300')
    .tp-bannertimer
// /REVOLUTION SLIDER
