include indexslides
// WELCOME
section
  .container
    header.text-center
      h2 Ihr Partner für internationale Verbindungen.
      p.lead
      | Wer in Zukunft seine Geschäfte erweitern möchte, muss international denken. Trans-Royal GmbH
      | ist ein Dienstleistungsunternehmen für internationale Verbindungen.
    // FEATURED BOXES 1
    .row     
      .col-md-3
        .featured-box.noborder
          // add .transparent for no background color
          i.fa.fa-university
          p.fsize16 
            | INTERNATIONALES
            br
            | 	CONSULTING     
      .col-md-3
        .featured-box.noborder
          // add .transparent for no background color
          i.fa.fa-medkit
          p.fsize16 
            | MEDICAL QURACTIV&reg DERM
            br            
            | &nbsp         
      .col-md-3
        .featured-box.noborder
          // add .transparent for no background color
          i.fa.fa-users
          p.fsize16 
            | PERSONAL & 
            br          
            | RECRUITMENT     
      .col-md-3
        .featured-box.noborder
          // add .transparent for no backgrounfont color
          i.fa.fa-exchange
          p.fsize16 
            | ÜBERSETZUNG
            br
            | &nbsp          
    // /FEATURED BOXES 1            
// /WELCOME
// SECTION
section.alternate
  .container
    .row
      .col-md-6.col-sm-6                   
        .embed-responsive.embed-responsive-16by9
            video(width='800', height='450', controls='')                
                  source(src='assets/videos/quractiv.mp4', type='video/mp4')        
      .col-md-6.col-sm-6
        h3
          strong Quractiv&reg Derm hilft Ihnen, Ihre persönliche Herausforderung zu lösen          
        ul.list-icon.spaced.check-circle
          li 
            strong PATIENTEN 
            | - Holen Sie sich mit Quractiv&reg Ihre Lebensqualität zurück. Einfach und schmerzfrei.
          li 
            strong ÄRZTE 
            | - Heilen Sie mit Quractiv&reg Ihre Patienten. Begeisternd und budgetschonend.
          li 
            strong WUNDEXPERTEN 
            | - Werden Sie mit Quractiv&reg zum Held Ihrer Patienten. Erlebbar und nachhaltig. 
          li 
            strong HOMECARE 
            | - Seien Sie mit Quractiv&reg state of the art. Innovativ und wirtschaflich.
          li 
            strong KOSTENTRÄGER 
            | - Heilen Sie Wunden mit Quractiv&reg anstatt sie zu verwalten.Zukunftweisend und kostenschonend.          
        .margin-top20
          // buttons
          a.btn.btn-primary(href='#purchase', target='_blank', rel='nofollow') QURACTIV&reg Bestellen          
        // /buttons
// /SECTION
// SECTION
section
  .container
    header.text-center
      h2 We Are Dedicated To Our Customers
      p.lead
        | We thrive on making Epona the most complete and trusted template on wrapbootstrap
      .divider.half-margins
        // divider
    .row
      .col-md-4.col-sm-6
        h4 Passion
        p.dropcap
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et elementum erat, biluctus mi. Quisque consequat risus quis tincidunt fringilla. Ut sed rhoncus metus, in rhoncus dolor. Integer tempor ligula est, sed luctus metus tempus a. Pellentesque tempor libero et arcu bibendum mollis. Aliquam eu odio eget diam egestas euismod vel sed orc aenean.
      .col-md-4.col-sm-6
        h4 Precision
        p
          | Pellentesque tempor libero et arcu bibendum mollis. Donec eu porta elit. Aliquam porta sollicitudin ante, ac fermentum orci mattis et. Phasellus ac nibh eleifend, sagittis purus nec, elementum massa. Quisque tincidunt sapien a sem porttitor, id convallis dolor pharetra. Donec tempor cursus facilisis. Ut eu elementum arcu, vel hendrerit nisi. Cras sed euismod nibh, a adipiscing.
      .col-md-4.col-sm-12
        // ACCORDION
        #accordion2.accordion.panel-group.transparent
          .panel.panel-default
            .panel-heading
              h4.panel-title
                a(data-toggle='collapse', data-parent='#accordion2', href='#acordion_1')
                  i.fa.fa-plus
                  | 												Our Company Mission
            #acordion_1.collapse
              .panel-body
                | Lorem Ipsum, tellus ac cursus commodo, mauris sit condim eser ntumsi nibh, uum a justo vitaes amet risus amets un. Posi sectetut amet fermntum orem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia.
          .panel.panel-default
            .panel-heading
              h4.panel-title
                a(data-toggle='collapse', data-parent='#accordion2', href='#acordion_2')
                  i.fa.fa-plus
                  | 												The Epona Inside
            #acordion_2.collapse
              .panel-body
                | Lorem Ipsum, tellus ac cursus commodo, mauris sit condim eser ntumsi nibh, uum a justo vitaes amet risus amets un. Posi sectetut amet fermntum orem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia.
          .panel.panel-default
            .panel-heading
              h4.panel-title
                a(data-toggle='collapse', data-parent='#accordion2', href='#acordion_3')
                  i.fa.fa-plus
                  | 												The Epona Philosophy
            #acordion_3.collapse
              .panel-body
                | Lorem Ipsum, tellus ac cursus commodo, mauris sit condim eser ntumsi nibh, uum a justo vitaes amet risus amets un. Posi sectetut amet fermntum orem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia.
          .panel.panel-default
            .panel-heading
              h4.panel-title
                a(data-toggle='collapse', data-parent='#accordion3', href='#acordion_4')
                  i.fa.fa-plus
                  | 												Join our great team
            #acordion_4.collapse
              .panel-body
                | Lorem Ipsum, tellus ac cursus commodo, mauris sit condim eser ntumsi nibh, uum a justo vitaes amet risus amets un. Posi sectetut amet fermntum orem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia.
        // /ACCORDION
      // /SECTION
