include indexslides
// WELCOME
section
    .container
        header.text-center
            h2 Ihr Partner für internationale Verbindungen.
            p.lead
            | Wer in Zukunft seine Geschäfte erweitern möchte, muss international denken. Trans-Royal GmbH
            | ist ein Dienstleistungsunternehmen für internationale Verbindungen.
        // FEATURED BOXES 1
        .row
            .col-md-3
                .featured-box.noborder
                    // add .transparent for no background color
                    i.fa.fa-university
                    p.fsize16
                        | INTERNATIONALES
                        br
                        |    CONSULTING tes
            .col-md-3
                .featured-box.noborder
                    // add .transparent for no background color
                    i.fa.fa-medkit
                    p.fsize16
                        | MEDICAL QURACTIV&reg DERM
                        br
                        | &nbsp
            .col-md-3
                .featured-box.noborder
                    // add .transparent for no background color
                    i.fa.fa-users
                    p.fsize16
                        | PERSONAL &
                        br
                        | RECRUITMENT
            .col-md-3
                .featured-box.noborder
                    // add .transparent for no backgrounfont color
                    i.fa.fa-exchange
                    p.fsize16
                        | ÜBERSETZUNG
                        br
                        | &nbsp
        // /FEATURED BOXES 1
// /WELCOME

// SECTION
section.alternate
    .container
        .row
            .col-md-6.col-sm-6
                h3
                    strong Internationales Consulting
                ul.list-icon.spaced.check-circle
                    li
                        strong PATIENTEN
                        | - Holen Sie sich mit Quractiv&reg Ihre Lebensqualität zurück. Einfach und schmerzfrei.
                    li
                        strong ÄRZTE
                        | - Heilen Sie mit Quractiv&reg Ihre Patienten. Begeisternd und budgetschonend.
                    li
                        strong WUNDEXPERTEN
                        | - Werden Sie mit Quractiv&reg zum Held Ihrer Patienten. Erlebbar und nachhaltig.
                    li
                        strong HOMECARE
                        | - Seien Sie mit Quractiv&reg state of the art. Innovativ und wirtschaftlich.
                    li
                        strong KOSTENTRÄGER
                        | - Heilen Sie Wunden mit Quractiv&reg anstatt sie zu verwalten.Zukunftweisend und kostenschonend.
                .margin-top20
                    // buttons
                    a.btn.btn-primary(href='#purchase', target='_blank', rel='nofollow') Mehr über QURACTIV&reg Derm
                // /buttons
            .col-md-6.col-sm-6

// /SECTION

// SECTION
section
    .container
        .row
            .col-md-12.col-sm-12
                h2.jumbotron
                    strong Trans Royal ist exklusiver Vertriebspartner von Quractiv&reg Derm in der Region MENA(Nahost und Nordafrika), Türkei, Indien und Malaysia
        .row
            .col-md-6.col-sm-6
                .embed-responsive.embed-responsive-16by9
                    video(width='800', height='450', controls='')
                        source(src='assets/videos/quractiv.mp4', type='video/mp4')
            .col-md-6.col-sm-6
                h3
                    strong Quractiv&reg Derm ein Wundspray mit unzähligen Anwendungsbereichen
                ul.list-icon.spaced.check-circle
                    li
                        strong
                            a Was ist Quractiv&reg?
                    li
                        strong
                            a Quractive&reg Nutzer
                    li
                        strong
                            a Erfolgsgeschichten
                    li
                        strong
                            a Studien
// /SECTION

// SECTION
section.alternate
    .container
        .row
            .col-md-6.col-sm-6
                h3
                strong Quractiv&reg Derm hilft Ihnen, Ihre persönliche Herausforderung zu lösen
                ul.list-icon.spaced.check-circle
                li
                    strong PATIENTEN
                    | - Holen Sie sich mit Quractiv&reg Ihre Lebensqualität zurück. Einfach und schmerzfrei.
                li
                    strong ÄRZTE
                    | - Heilen Sie mit Quractiv&reg Ihre Patienten. Begeisternd und budgetschonend.
                li
                    strong WUNDEXPERTEN
                    | - Werden Sie mit Quractiv&reg zum Held Ihrer Patienten. Erlebbar und nachhaltig.
                li
                    strong HOMECARE
                    | - Seien Sie mit Quractiv&reg state of the art. Innovativ und wirtschaftlich.
                li
                    strong KOSTENTRÄGER
                    | - Heilen Sie Wunden mit Quractiv&reg anstatt sie zu verwalten.Zukunftweisend und kostenschonend.
                .margin-top20
                // buttons
                a.btn.btn-primary(href='#quractiv', target='_blank', rel='nofollow') Mehr über QURACTIV&reg Derm
                // /buttons
            .col-md-6.col-sm-6
// /SECTION
// SECTION
section
    .container
        .row
            .col-md-6.col-sm-6
                .embed-responsive.embed-responsive-16by9
                    video(width='800', height='450', controls='')
                        source(src='assets/videos/quractiv.mp4', type='video/mp4')
            .col-md-6.col-sm-6
                h3
                    strong Quractiv&reg Derm hilft Ihnen, Ihre persönliche Herausforderung zu lösen
                ul.list-icon.spaced.check-circle
                    li
                        strong PATIENTEN
                        | - Holen Sie sich mit Quractiv&reg Ihre Lebensqualität zurück. Einfach und schmerzfrei.
                    li
                        strong ÄRZTE
                        | - Heilen Sie mit Quractiv&reg Ihre Patienten. Begeisternd und budgetschonend.
                    li
                        strong WUNDEXPERTEN
                        | - Werden Sie mit Quractiv&reg zum Held Ihrer Patienten. Erlebbar und nachhaltig.
                    li
                        strong HOMECARE
                        | - Seien Sie mit Quractiv&reg state of the art. Innovativ und wirtschaftlich.
                    li
                        strong KOSTENTRÄGER
                        | - Heilen Sie Wunden mit Quractiv&reg anstatt sie zu verwalten.Zukunftweisend und kostenschonend.
                .margin-top20
                    // buttons
                    a.btn.btn-primary(href='#purchase', target='_blank', rel='nofollow') Mehr über QURACTIV&reg Derm
                // /buttons
// /SECTION

