include indexslides
// WELCOME
section
    .container
        header.text-center
            h2 Ihr Partner für internationale Verbindungen.
            p.lead
            | Wer in Zukunft seine Geschäfte erweitern möchte, muss international denken. Trans-Royal GmbH
            | ist ein Dienstleistungsunternehmen für internationale Verbindungen.
        // FEATURED BOXES 1
        .row
            .col-md-3
                .featured-box.noborder
                    a(href='intberatung.html',target="_self")
                        // add .transparent for no background color
                        i.fa.fa-university
                        p.fsize16
                            |INTERNATIONALE
                            br
                            | BERATUNG
            .col-md-3
                .featured-box.noborder
                    a(href='http://www.quractiv.com',target="_self")
                        // add .transparent for no background color
                        i.fa.fa-medkit
                        p.fsize16
                            | MEDICAL QURACTIV&reg DERM
                            br
                            | &nbsp
            .col-md-3
                .featured-box.noborder
                    a(href='zakoop.html',target="_self")
                        // add .transparent for no background color
                        i.fa.fa-users
                        p.fsize16
                            |PERSONAL &
                            br
                            | RECRUITMENT
            .col-md-3
                .featured-box.noborder
                    a(href='translation.html', target='_self')
                        // add .transparent for no backgrounfont color
                        i.fa.fa-exchange
                        p.fsize16
                            | ÜBERSETZUNG
                            br
                            | &nbsp



        // /FEATURED BOXES 1
// /WELCOME
