// SECTION
section
    .container
        .row.alert.alert-default.fade.in.margin-top40
            .col-md-6.col-sm-6
                h3
                    strong INTERNATIONALE BERATUNG
                ul.list-icon.spaced.check-circle
                    li
                        strong
                            a(href='#',target="_self") Internationale Unternehmensberatung & Expansion
                    li
                        strong
                            a(href='#',target="_self") Internationale Personalplannung & Beschaffung
                    li
                        strong
                            a(href='#',target="_self") Interkulturelles Coaching
            .col-md-6.col-sm-6
            img
// /SECTION
