// SECTION
section
    .container
        .row
            .col-md-12.col-sm-12.margin-top40
                h2
                    strong
                        | Trans Royal ist exklusiver Vertriebspartner von Quractiv&reg Derm in der Region MENA, Türkei, Indien und Malaysia
        .row
            .col-md-6.col-sm-6
                .embed-responsive.embed-responsive-16by9
                    video(width='800', height='450', controls='')
                        source(src='assets/videos/quractiv.mp4', type='video/mp4')
            .col-md-6.col-sm-6
                h3
                    strong Quractiv&reg Derm ein Wundspray mit unzähligen Anwendungsbereichen
                ul.list-icon.spaced.check-circle
                    li
                        strong
                            a(href='http://www.quractiv.com/was-ist-quractiv-derm/',target="_blank") Was ist Quractiv&reg?
                    li
                        strong
                            a(href='http://www.quractiv.com/quractiv-nutzer/',target="_blank") Quractive&reg Nutzer
                    li
                        strong
                            a(href='http://www.quractiv.com/erfolgsgeschichten/',target="_blank") Erfolgsgeschichten
                    li
                        strong
                            a(href='http://www.quractiv.com/studien/',target="_blank") Studien
                .padding-left100
                    // buttons
                    a.btn.btn-primary(href='http://www.quractiv.com', target='_blank', rel='nofollow') Mehr über Quractiv&reg Derm
                    // /buttons
// /SECTION