meta(charset='utf-8')
title Trans Royal
meta(name='keywords', content='HTML5,CSS3,Template')
meta(name='description', content='')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
// mobile settings
meta(name='viewport', content='width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0')
// Favicon
link(rel='shortcut icon', href='assets/images/demo/favicon.ico')
