// Top Nav
header#topNav
  .container
    // Logo
    a.logo.padding-bottom10(href='index.html')
      img(src='assets/images/logo.png', height='50', alt='')
    // Mobile Menu Button
    button.btn.btn-mobile(data-toggle='collapse', data-target='.nav-main-collapse')
      i.fa.fa-bars
    // Search
    form.search(method='get', action='page-search.html')
      input.form-control(type='text', name='s', value='', placeholder='Search')
      button.fa.fa-search
    // /Search
    // Top Nav
    .navbar-collapse.nav-main-collapse.collapse
      nav.nav-main
        //
          NOTE
          For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
          Direct Link Example:
          <li>
          <a href="#">HOME</a>
          </li>
        ul#topMain.nav.nav-pills.nav-main
          li.mega-menu.dropdown.active
            a.dropdown-toggle(href='#')
              | STARTSEITE
          li.dropdown.mega-menu
            a.dropdown-toggle(href='#')
              | ÜBER UNS
          li.dropdown
            a.dropdown-toggle(href='#')
              | INTERNATIONALES CONSULTING
          li.dropdown
            a.dropdown-toggle(href='#')
              | MEDICAL
          li.dropdown
            a.dropdown-toggle(href='#')
              | PERSONAL & RECRUITMENT
          li.dropdown
            a.dropdown-toggle(href='#')
              | ÜBERSETZUNG
          li.dropdown
            a.dropdown-toggle(href='#')
              | KONTAKT
            ul.dropdown-menu
              li
                a(href='contact-1.html') Contact Version 1
              li
                a(href='contact-2.html') Contact Version 2
              li
                a(href='contact-3.html') Contact Version 3
              li
                a(href='contact-4.html') Contact Version 4
              li
                a(href='contact-5.html') Contact Version 5
    // /Top Nav
  // /.container
// /Top Nav
