// Morenizr
script(type='text/javascript', src='assets/plugins/modernizr.min.js')
//if lte IE 8
  script(src='assets/plugins/respond.js')
//
  Available body classes:
  smoothscroll			= enable chrome browser smooth scroll
  grey 					= grey content background
  boxed 					= boxed style
  pattern1 ... pattern11 	= background pattern
  Background Image - add to body:
  data-background="assets/images/boxed_background/1.jpg"
  Examples:
  <body class="smoothscroll grey boxed pattern3">
  <body class="smoothscroll boxed" data-background="assets/images/boxed_background/1.jpg">
