// SECTION
section
    .container
        .row.margin-top40
            .col-md-8.col-sm-8
                .embed-responsive.embed-responsive-16by9.center
                    img(src="assets/images/books.png")
            .col-md-4.col-sm-4
                h3
                    strong Trans Royal Übersetzung
                | Wir übersetzen für Sie:
                ul.list-icon.spaced.check-circle
                    li
                        | Dokumente
                    li
                        | Webseiten
                    li
                        | Software lokalisieren
                | in 52 Sprachen.
                .padding-top40.padding-left130
                    // buttons
                    a.btn.btn-primary(href='kontakt.html', target='_self', rel='nofollow') Fragen Sie uns an...
                    // /buttons
// /SECTION