doctype html
//if IE 8
  html.ie.ie8
//if IE 9
  html.ie.ie9
// [if gt IE 9] <!
html
    // <![endif]
    head
    include meta
    include styles
    body.smoothscroll
        #wrapper
            include underconstructioncontent

        // /#wrapper