// SECTION
section
    .container
        .row.alert.alert-default.fade.in.margin-top40
            .col-md-8.col-sm-8
                h3
                    strong Entscheidend ist nicht der Job, sondern der Mitarbeiter, der ihn ausübt.
                | Wer seine Unternehmenserfolge im Management beginnt zu planen, wird schnell erkennen, dass die richtige Personalauswahl entscheidend dazu beiträgt, in welcher Form die Ziele des Unternehmens erreicht werden.

                h4.padding-top20
                    strong Wir spezialisieren uns auf das Recruitment, Sie auf den Rest.
                .padding-top20.fsize11 Ein Projekt der Trans Royal GmbH

            .col-md-4.col-sm-4
                a(href='http://www.zakoop.com', target='_blank')
                    img(src="assets/images/image.png")
                .padding-left100
                    // buttons
                    a.btn.btn-primary(href='http://www.zakoop.com', target='_blank', rel='nofollow') Mehr über ZAKOOP
                    // /buttons
// /SECTION